/* 
 Primary blue: #85c1e9
*/


/* ===================== Generic Classes ========================= */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #85c1e9; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0f9fff; 
  }

.text-blue{
    color: #85c1e9 !important;
}


.bg-blue{
    background-color: #85c1e9 !important;
}

section{
    padding: 50px 0px;
}

.za_intro {
    text-align: center;
    margin-bottom: 50px;
    position: sticky;
    z-index: 2;
}

h2.za_intro_title {
    font-size: 50px;
    background: linear-gradient(45deg, black 15%, #5176e4);
    -webkit-background-clip: text;
    color: transparent;
}

h2.za_intro_title::before {content: "";min-height: 10px;width: 150px;display: block;background: linear-gradient(45deg, royalblue, transparent);margin: 0px auto 20px auto;border-radius: 10px;}

.embed-responsive {
    border-radius: 15px !important;
}


.owl-carousel{
    width: calc(100% + 15px) !important;
}
/* =================== Header ======================== */

header.za_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 2px 2px 9px 0px #0000002b;
}

.za_nav .nav-left .nav-brand img {
    width: 150px;
    height: auto;
}

.za_nav .nav-right .nav .link {
    margin: 0px 10px;
}

.za_nav .nav-right .nav .link a {
    color: #323232;
}

.za_nav .nav-right .nav .link a.active{
    color: #85c1e9;
}

.za_nav .nav-right .nav .link a::after {
    content: "";
    background: #85c1e9;
    display: block;
    min-height: 2px;
    width: 0;
    transition: .3s ease;}

.za_nav .nav-right .nav .link a:hover::after {
    width: 100%;
    transition: .3s ease;
}

.za_nav .nav-right .nav .link a:hover {
    text-decoration: none;
}


/* =================== Hero Section ================= */

.hero-section {
    /* background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/hero_bg1.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

video.hero_video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

h1.hero-title {
    font-size: 80px;
    font-weight: bold;
}

p.hero-descp {font-size: 20px;margin-bottom: 40px;}

.za_sub-card {
    background: #ffffffe6;
    padding: 20px;
    text-align: center;
    color: #000;
    border-radius: 15px;
    display: flex;
    border-bottom: 10px solid #50b9ff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.za_sub-card .header h3 {
    font-weight: bold;
    text-transform: uppercase;
}


.za_sub-card .body ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 10px;
}

.za_sub-card .body {
    width: 100%;
    margin-bottom: 30px;
}


span.icon-box {
    width: 26px;
    display: inline-block;
}

.za_sub-card .body ul li {
    margin: 10px 0px;
}

.za_sub-card .footer{
    padding: 10px 0px;
}

.za_sub-card .footer a {
    text-decoration: none;
    padding: 10px 40px;
    background: #85c1e9;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 18px #85c1e975;
}



/* =================== Why us section ===================== */

.wu_card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px #00000021;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.wu_card:hover{
    color: #fff;
    background-color: #85c1e9;
    box-shadow: 0px 0px 25px #85c1e9;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.wu_card i, .wu_card h3, .wu_card p {
    margin: 25px 0px;
}


/* ===================== Video section ====================== */

.video-section{
     background: url(../images/hero_bg1.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 600px;
}

.video_glass{
         /* From https://css.glass */
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overimage{
    cursor: pointer;
    min-height: 600px;
}

.overimage img{
    
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.overimage i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 50px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}



/* ===================== Testimonials section ====================== */

.testimonial-section {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/hero_bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    color: #fff;
    background-attachment: fixed;
}


.testimonial-section h2.za_intro_title {
    background: linear-gradient(45deg, #fff 15%, #ccc);
    -webkit-background-clip: text;
    color: transparent;
}

.testimonial-section h2.za_intro_title::before {
    content: "";
    min-height: 10px;
    width: 150px;
    display: block;
    background: linear-gradient(45deg, #fff, transparent);
    margin: 0px auto 20px auto;
    border-radius: 10px;
}


.testimonial_card {
    border: 1px solid;
    padding: 20px;
    border-radius: 50px 10px;
    text-align: center;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.testimonial_card:hover{
    color: #000;
    box-shadow: inset 600px 0px 0px #fff, inset -600px 0px 0px #fff;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.testimonial_card .header i {
    font-size: 43px;
}


/* ==================== Blogs section ======================= */

.blog_card {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: 1px solid #e9e9e9;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-height: 270px;
    color: #fff;
}



.overlay {
    position: absolute;
    top: 75%;
    left: 0;
    padding: 20px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}


.blog_card:hover .overlay{
    top: 0;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}


/* =============== Search Page ==================== */

.search-box {
    padding: 50px 20px;
    backdrop-filter: blur(20px) saturate(0.5);
    border-radius: 10px;
    background-color: #4169e13d;
    box-shadow: 0px 0px 35px #ffffff45;
}

.st-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
}

.st-card .class_dropdown {
    display: none;
}

.st-card{
    margin: 5px;
}

.st-card label{
    margin-left: 10px;
}
.st-card {
    width: fit-content;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.multi-tour{
    display: none;
}

.cls_dd-menu{
    display: none;
}

.cls_dd input {
    border: none;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.cls_dd input:disabled{
    background-color: #fff;
}

.cls_dd button {
    background: royalblue;
    color: #fff;
    border: none;
    width: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
    font-size: 25px;
}

.cls_dd-menu {
    background: #fff;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 10px;
    top: -300px;
}


button.btn-search {
    background: royalblue;
    border: none;
    padding: 7px 50px;
    color: #fff;
    border-radius: 5px;
    display: block;
    margin: 30px auto 0px auto;
}

